@import url("bootstrap.css");

#table thead tr th:last-of-type,
.table-with-checkbox thead tr th:first-of-type {
    width: 1%;
}

.toast:not(.show) {
    display: block;
}

.table td {
    vertical-align: middle;
}